name: Commit Main

on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  detect-changes:
    name: Detect changed directories
    runs-on: ${{ vars.RUNS_ON }}
    outputs:
      dirs: ${{ steps.get-changes.outputs.changes }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed image directories
        id: changed-files
        uses: tj-actions/changed-files@v44
        with:
          files: src/**
          dir_names: true
          dir_names_max_depth: 3

      - name: Prepare matrix
        id: get-changes
        run: |
          if [ -n "${{ steps.changed-files.outputs.all_changed_files }}" ]; then
            MATRIX="["
            FIRST=true
          
            for path in ${{ steps.changed-files.outputs.all_changed_files }}; do
              DIR=$(echo "$path" | cut -d'/' -f2)
              VERSION=$(echo "$path" | cut -d'/' -f3)
          
              [ "$FIRST" = true ] || MATRIX+=","
              FIRST=false
          
              MATRIX+="{\"dir\":\"$DIR\",\"version\":\"$VERSION\"}"
            done
          
            MATRIX+="]"
            MATRIX=$(echo "$MATRIX" | jq -c 'unique')
          else
            MATRIX="[]"
          fi
          
          echo "changes=$MATRIX" >> "$GITHUB_OUTPUT"
          echo "Changed directories: $MATRIX"

  build:
    name: Build changed images
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.dirs != '[]' && needs.detect-changes.outputs.dirs != '' }}
    runs-on: ${{ vars.RUNS_ON }}
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.detect-changes.outputs.dirs) }}

    steps:
      - uses: actions/checkout@v4
      - uses: soltiHQ/actions/ghcr-build@main
        with:
          docker_username: ${{ github.actor }}
          docker_password: ${{ secrets.GITHUB_TOKEN }}
          image: ${{ matrix.dir }}
          version: ${{ matrix.version }}